<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link th:href="@{/css/estilo.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<header>	    			
		<nav>
			<ul>
				<li><a th:href="@{/}" >Home</a></li>
				<li><a th:href="@{/huerto}" class="active">Huertos</a></li>
				<li><a th:href="@{/maceta}">Macetas</a></li>
				<li><a th:href="@{/planta}">Plantas</a></li>
			</ul>
		</nav>
	</header>
	<main>
	
	<section id="stitulo">
		<h1>Huertos</h1>
	
	</section>
				
	<section id="slistado" th:if="${!huertos.empty}">
		
		<table id="tlistado">
			<tr>
				<th>Nombre</th>
				<th>Número Macetas</th>
				<th>Número Plantas</th>
				<th></th>
			</tr>
				<tr th:each="huerto:${huertos}">
					<td th:text="${huerto.nombreHuerto}"/>
					<td th:text="${huerto.nMacetas}"/>
					<td th:text="${huerto.nPlantas}"/>
					<td><a th:href="@{/huerto/}+${huerto.idHuerto}"><img src="https://img.icons8.com/color/search" width=15 height=15></a>
					<a th:href="@{/huerto/r/}+${huerto.idHuerto}"><img src="https://img.icons8.com/color/48/000000/waste--v1.png" width=15 height=15/></a>
					</td>
				</tr>
		</table>
	</section>
	
	 <section id="stext"  th:if="${huertos.empty}">
	   No hay huertos
	 </section>
	
	<section id="snuevo">
		<h1>Nuevo Huerto</h1>
		<form id="fnuevo" method="post" th:action="@{/huerto}">
			<label for="nombre">Nombre</label> <input type="text" id="nombre"
				name="nombre" title="Nombre" placeholder="Nombre Huerto" required />
			<input type="submit" value="Enviar">
		</form>		
	</section>
		
	 <section id="smessage" th:if=${message!=null}>
	   <span th:text="${message}" th:remove="tag"/>
	 </section>
	 
	 <section id="smessage" th:if=${error!=null}>
	   <span th:text="${error}" th:remove="tag"/>
	 </section>
	</main>
	<footer> </footer>
</body>
</html>